<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <script type="text/javascript" src="{% static 'scripts/profilemenu.js' %} "></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


    <title>{% block title %} {% endblock %}</title>
    {% block head %}    {% endblock %}

</head>
<body id="bootstrap-overrides">

<header class='navbar'>

    <a href='{% url 'index' %}'><img class="logo" src="{% static 'images/logo-25.svg' %}"></a>

    <nav>

        <ul class="nav-links">

            <li><a href='{% url 'products' %}'>Produkty</a></li>
            <li><a href="{% url 'newstuff' %}">Nowości</a></li>
            <li><a href="{% url 'discount' %}">Promocje</a></li>
        </ul>


    </nav>

    <div class='search'>

        <input type="text" placeholder=" Wyszukaj produkty...">
    </div>

    <div class='nav-icons' style="display: flex">
        <div class="nav-cart">
            <a id="cart" href='{% url 'cart' %}'>
                Koszyk
            </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn " id="settings" onclick="myFunction()">Profil
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Dane profilu</a>
                <a href="#">Zamówienia</a>
                <a href="#">Zwroty</a>
            </div>
        </div>

    </div>

</header>

{% block content %}
{% endblock %}

</body>
</html>