{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block head %}

    {% load static %}

{% endblock %}


{% block content %}

    <div class="main">
        <div class="col-lg-3">
            <div class='categories'>
                <h5>Kategorie:</h5>
                <ul>
                    <li><a href="{% url 'clothes' %}">Odzież</a>{% block clothes %} {% endblock %}</li>

                    <li><a href="{% url 'shoes' %}">Obuwie</a>{% block shoes %} {% endblock %}</li>

                    <li><a href="{% url 'accesories' %}">Akcesoria</a>{% block accesories %} {% endblock %}</li>

                    <li><a href="{% url 'sport' %}">Sport</a>{% block sport %} {% endblock %}</li>

                </ul>


            </div>

            <div class="scrollable-list">
                <h5>Brand:</h5>
                <ul id="filters">
                    <li>
                        <input type="checkbox" value="categorya" id="filter-categorya"/>
                        <label for="filter-categorya">Armani</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categorya" id="filter-categorya"/>
                        <label for="filter-categorya">Nike</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categorya" id="filter-categorya"/>
                        <label for="filter-categorya">Adidas</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categorya" id="filter-categorya"/>
                        <label for="filter-categorya">Reebok</label>
                    </li>


                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb">Puma</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb">Versace</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb"> Gucci</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb"> Off-White</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb"> New Look</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb"> Essential</label>
                    </li>

                    <li>
                        <input type="checkbox" value="categoryb" id="filter-categoryb"/>
                        <label for="filter-categoryb"> Different Brand</label>
                    </li>


                </ul>
            </div>

            <div class="price-slider">

                <h5>Price range:</h5>
                <input type="range" min="1" max="100" value="50">

            </div>
        </div>
        <div class="col-lg-9">
            <div class='row'>


                <div class="col-lg-4">
                    <img class="thumbnail" src="{% static 'images/imag.PNG' %}">
                    <div class="box-element product">
                        <h6><strong>Product</strong></h6>
                        <hr>

                        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

                    </div>
                </div>

                <div class="col-lg-4">
                    <img class="thumbnail" src="{% static 'images/imag.PNG' %}">
                    <div class="box-element product">
                        <h6><strong>Product</strong></h6>
                        <hr>

                        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

                    </div>
                </div>

                <div class="col-lg-4">
                    <img class="thumbnail" src="{% static 'images/imag.PNG' %}">
                    <div class="box-element product">
                        <h6><strong>Product</strong></h6>
                        <hr>

                        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

                    </div>
                </div>

            </div>

            <div class='row top-buffer'>

                <div class="col-lg-3">
                    <img class="thumbnail" src="{% static 'images/imag.PNG' %}">
                    <div class="box-element product">
                        <h6><strong>Product</strong></h6>
                        <hr>

                        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}