@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;


}


html, body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    min-height: 100%;
}

ul {

    list-style-type: none;

}

li, a, button, input {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;

}

.logo {
    cursor: pointer;
}

.width-100 {
    width: 100% !important;
    margin-left: 0;

}

.line-auto {
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.product-name {
    margin-left: 5px;
}

.top-buffer {
    margin-top: 15px;
}

.left-buffer {
    margin-left: 15px;
}

.search input {
    font-weight: bolder;
    color: black;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: sans-serif;
    padding: 0 15px 0 15px;
    text-align: center;
    min-height: 40px;

}

.container {
    display: flex;

}

.nav-links {
    list-style: none;
}

#cart-card-body {
    padding-left: 0px;
    padding-right: 0px;


}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
    transition: all 0.3s ease-out 0.1s;
    border-radius: 12px;
    outline: none;
    border: none;

}

.nav-links li a:hover {
    color: black
}

.nav-icons {
    padding-right: 50px;
}

.flex-disp {
    display: flex;
    align-content: space-between;
}

.main {

    display: flex;
    padding: 0px 10px;
    height: 70vh;
    margin-left: 5px;
}


.nav-icons a:link, button:link {
    text-decoration: none;
}

.nav-icons .dropdown button {
    border-radius: 12px;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    min-width: 80px;
    cursor: pointer;
    transition: all 0.2s ease-out 0.1s;
    background-color: inherit;

}

.nav-icons a, button {
    border-radius: 12px;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    min-width: 80px;
    cursor: pointer;
    transition: all 0.2s ease-out 0.1s;

}

.thumbnail {
    width: 299px;
    height: 370px;
}

.right {
    float: right;

    justify-content: flex-end;
}

.left {
    float: left;
}

.cart-row {
    display: flex;

}

.allign-center {
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.cart-icon {
    height: 25px;
    width: 25px;
}

.cart-image {
    max-width: 100px;
    max-height: 100px;
}

.scrollable-list ul {
    height: 200px;
    width: 100%;
}

.coupon-code {
    margin-bottom: 10px;
}

.scrollable-list ul {
    overflow: hidden;
    overflow-y: scroll;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.payment-icons div {

    text-align: center;
}

.payment-icons div button {
    width: 100%;
    height: 100%;
    border: black;
    outline-style: solid;
}
input, label {
    display:block;
}

#pp {
    background-image: url('../images/paypal.png');
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#cc {
    background-image: url('../images/creditcardicon.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#p24 {
    background-image: url('../images/przelewy24.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}


.payment-icons {
    display: flex;
    min-height: 100px;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

#filters {
    padding-left: 10px;
}


#settings:hover {
    background-image: url('../images/profile.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

#cart:hover {
    background-image: url('../images/cart.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}
